@import "tailwindcss";

.popover {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    left: 0;
    top: 0;
}

.bg-opacity{
    background-color: rgba(0, 0, 0, 0.9);
}

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.3s ease-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.95);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}